<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>My pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card status="On hold" updatedAt="12/12/2024 16:04:23" createdAt="6/12/2024"
    notes="we have two bags that are full, one with plastic and one with glasses"></app-pickup-call-card>

  <app-pickup-call-card status="Processing" updatedAt="15/12/2024 19:04:23" createdAt="6/12/2024"
    notes="we have two bags that are full, one with plastic and one with glasses"></app-pickup-call-card>
    
  <app-pickup-call-card status="Finished" updatedAt="20/12/2024 13:00:30" createdAt="6/12/2024" moneyValue="15.00"></app-pickup-call-card>
</ion-content>
